<template>
  <input
    class="imageRead"
    ref="imageRead"
    @change="selectImage"
    accept="image/*"
    type="file"
  />
  <div class="photo-wrap mt20">
    <button
      @click="clickPhoto"
      style="background: #11c8ff;
    border: 1px solid #12718e; "
      class="f38 bold"
    >
      Seleccionar Imagen
    </button>
    <span>
      <h4>VISTA PREVIA</h4>
      <img
        @click="clickPhoto"
        style="height: 300px;
                width: 300px;"
        class
        :src="photoUrl"
        alt
      />
    </span>
    <br />
    <br />
  </div>
  <b-overlay :show="showCrop">
    <div class="" @click.stop>
      <div class="crop-options" v-if="showTools">
        <br />
        <button @click="resetCrop">Reiniciar</button>
        <button @click="scaleCrop">Giro Vertical</button>
        <button @click="rotateCrop">Giro Circular</button>
        <button @click="submitCrop">Recortar</button>
      </div>
      <br />
      <div>
        <img id="cropImage" ref="cropImage" src alt />
      </div>
    </div>
  </b-overlay>
</template>

<script>
import imagen_default from "../images/image-default.jpg";
import "../assets/style.css";

import "cropperjs/dist/cropper.css";
import Cropper from "cropperjs";

export default {
  name: "HelloWorld",
  components: {},
  data() {
    return {
      photoUrl: imagen_default,
      showCrop: false,
      myCropper: "",
      flagX: false, // Si la imagen recortada está invertida, el valor predeterminado es falso (no invertido)
      showTools: false,
    };
  },
  methods: {
    //  Click en el avatar
    clickPhoto() {
      this.$refs["imageRead"].click();
    },
    //  Seleccionar imagen
    selectImage(e) {
      let targetFile = e.target.files[0];
      console.log(targetFile);
      if (targetFile) {
        this.showCrop = true;
        this.flagX = false;
        let reader = new FileReader();
        /* El método readAsDataURL leerá el objeto Blob o File especificado.
                 Cuando se completa la operación de lectura, readyState se HABRÁ completado,
                 Y active el evento loadend, y el atributo resultante contendrá una cadena de datos: formato URL (codificación base64)
                 Para indicar el contenido del archivo leído. */
        reader.readAsDataURL(targetFile);
        reader.onload = () => {
          let dataURL = reader.result;
          if (dataURL) {
            this.showTools = true;
          }
          let cropImageDom = document.querySelector("#cropImage");
          cropImageDom.src = dataURL;
          this.myCropper.replace(dataURL);
        };
        // Evita no activar la misma imagen la próxima vez
        e.target.value = "";
      }
    },
    // Cancelar cultivo
    cancelCrop() {
      this.showCrop = false;
    },
    // Reiniciar
    resetCrop() {
      this.flagX = false;
      this.myCropper.reset();
    },
    // contrarrestar
    scaleCrop() {
      if (this.flagX) {
        this.myCropper.scaleX(1), (this.flagX = false);
      } else {
        this.myCropper.scaleX(-1), (this.flagX = true);
      }
    },
    // rotar
    rotateCrop() {
      this.myCropper.rotate(45);
    },
    // Determinar el cultivo
    submitCrop() {
      let cas = this.myCropper.getCroppedCanvas();
      let base64 = cas.toDataURL("image/jpeg");
      this.photoUrl = base64;
      this.showCrop = false;
    },
  },
  mounted() {
    // Crea una instancia y únela a la etiqueta img que muestra el recorte
    let cropImageDom = document.querySelector("#cropImage");
    this.myCropper = new Cropper(cropImageDom, {
      aspectRatio: 1 / 1,
      // viewMode: 0,
      // minContainerWidth: 100,
      // minContainerHeight: 100,
      // preview: ".previewBox",
      guides: false, // La línea punteada del marco de recorte (jiugongge)
      autoCropArea: 0.5, // Un valor entre 0-1, define el tamaño del área de recorte automático, el valor predeterminado es 0.8
      // movible: falso, // si se permiten imágenes en movimiento
      dragCrop: true, // Si está permitido eliminar el marco de recorte actual y arrastrar para crear una nueva área de marco de recorte
      movable: true, // Si se debe permitir mover el cuadro de recorte
      resizable: true, // Si se debe permitir cambiar el tamaño del cuadro de recorte
      // zoomable: false, // Si se debe permitir el zoom del tamaño de la imagen
      mouseWheelZoom: false, // Si se permite que la rueda del mouse amplíe la imagen
      touchDragZoom: true, // Si permitir que la imagen se amplíe tocando y moviendo
      rotatable: true, // Si se permiten imágenes rotativas
      crop: function(e) {
        console.log(e);
        // Salida de datos de resultados para recortar la imagen.
      },
    });
  },
};
</script>
<style lang="scss" scoped>
.crop-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > div {
    width: 100%;
  }
  & > div:first-child {
    height: 80%;
    background: rgb(12, 12, 12);
  }
  & > div:last-child {
    text-align: center;
  }
}
.imageRead {
  display: none;
}
.photo-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & > span:last-child {
    width: px2rem(200);
    height: px2rem(200);
    border-radius: 50%;
    overflow: hidden;
    background: black;
    box-shadow: 0 0 px2rem(17) gray;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
</style>
